h1 {
  color: deeppink;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
}

h3 {
  color: lightseagreen;
  font-family: cursive;
}

h4 {
  color: hotpink;
  font-family: cursive;}
  
